@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Libre+Baskerville:wght@700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background: url(../Images/background_phone.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav{
  background-image: linear-gradient(to bottom, #000, #545454);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.nav img{
  width: 150px;
  height: 35px;
  margin: 10px 0 5px 20px;
}

.ul_nav{
  display: none;
}

.menu_navbar{
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
}

.menu_navbar a i{
  font-size: 35px;
}

.text_aceuille{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 50px 20px;
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
}

.croche1{
  width: 50px;
  height: 50px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  margin-left: auto;
  /* transform: translate(-10px, -30px); */
  position: absolute;
  top: 0;
  right: 20px;
}

.croche2{
  width: 50px;
  height: 50px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  margin-right: auto;
  transform: translate(-15px, -40px);
  position: absolute;
  bottom: 0;
  left: 30px;
}

.text_aceuille p{
  color: rgb(255, 255, 255); 
  font-size: 20px;
  padding: 10px;
}

.slider_acceuille{
  display: none;
}

.button_Acceuille{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_acceuille{
  background: linear-gradient(to left,#303030, #000000);
  color: #E19630;
  border: 1px solid #E19630;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  body{
    background-image: url(../Images/background_desktop.png);
  }

  .ul_nav{
    display: flex;
    gap: 30px;
  }
  
  .ul_nav li.active{
    color: #E19630;
  }


  .ul_nav li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
  }

  .select_nav{
    /* background-image: linear-gradient(to bottom, #000, #545454); */
    color: white;
    border: none;
    background-color: transparent;
    height: 60px;
  }

  .select_nav option{
    background-color: black;
    border: none;
  }

  .connectez{
    background-image: linear-gradient(to left, #000, #545454);
    border: 1px solid #E19630;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    margin: 12px 10px 5px 0;
  }

  .menu_navbar{
    display: none;
  }

  .content_Acceuille_generale{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .croche2,
  .croche1{
    width: 70px;
    height: 70px;
  }

  .slider_acceuille{
    display: flex;
    transform: translateY(30px);
    margin-right: 20px;
  }

  /* .carousel-indicators button{
    width: 50px;
    height: 50px;
  } */

  .text_aceuille p{
  font-size: 24px;
  }

  

  .carousel-inner img.d-block{
    /* width: 100%; */
   width: 540px !important;
  }

  .btn_acceuille{
    padding: 12px;
  }



}