.text_aceuille{
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
}

.croche1{
  width: 50px;
  height: 50px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: translate(15px, 20px);
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 20px;
}

.croche2{
  width: 50px;
  height: 50px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  margin-right: auto;
  transform: translate(-15px, -40px);
  position: absolute;
  bottom: 0;
  left: 10px;
}

.text_aceuille p{
  color: rgb(255, 255, 255); 
  font-size: 15px;
  padding: 10px;
}

.slider_acceuille{
  display: none;
}

.button_Acceuille{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_acceuille{
  background: linear-gradient(to left,#303030, #000000);
  color: #E19630;
  border: 1px solid #E19630;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}


@media screen and (min-width: 550px) {
  .text_aceuille p{
    color: rgb(255, 255, 255); 
    font-size: 18px;
    padding: 10px;
  }
}


@media screen and (min-width: 630px){
  body{
    background-image: url(../Images/background_desktop.png);
  }

  .content_Acceuille_generale{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
  }

  .slider_acceuille{
    display: flex;
  }

  .carousel-inner img.d-block{
    width: 300px !important;
    margin-right: 15px;
  }

  .text_aceuille{
    transform: translateY(-50px);
  }
  .text_aceuille p{
    font-size: 13px;
  }

}

@media screen and (min-width: 750px) {

  .carousel-inner img.d-block{
    width: 380px !important;
  }

  .text_aceuille p{
    font-size: 15px;
  }
}


@media screen and (min-width: 860px) {
  .nav{
    height: 70px;
  }

  .nav img{
    width: 180px;
    height: 40px;
    margin: 15px 0 5px 20px;
  }

  .ul_nav li,
  .select_nav,
  .select_nav option,
  .connectez{
    font-size: 17px;
  }

  .content_Acceuille_generale{
    margin-top: 40px;
  }

  .carousel-inner img.d-block{
    width: 380px !important;
  }
}

@media screen and (min-width: 900px) {
  .croche1, 
  .croche2{
    width: 60px;
    height: 60px;
  }

  .croche1{
    transform: translate(10px, -10px);
  }
  
  .croche2{
    transform: translate(-10px, 30px);
  }

  .content_Acceuille_generale{
    margin-top: 50px;
  }

  .text_aceuille p{
    font-size: 16px;
  }

  .carousel-inner img.d-block{
    width: 410px !important;
  }

  .btn_acceuille{
    padding: 12px;
  }
}

@media screen and (min-width: 1024px){
  .croche1, 
  .croche2{
    width: 70px;
    height: 70px;
  }

  .croche1{
    transform: translate(10px, -30px);
  }
  
  .croche2{
    transform: translate(-10px, 60px);
  }

  .text_aceuille p{
    font-size: 18px;
  }

  .carousel-inner img.d-block{
    width: 480px !important;
  }
}



@media screen and (min-width: 1200px) {
  .content_Acceuille_generale{
    margin-top: 90px;
  }


  .text_aceuille p{
    font-size: 23px;
  }

  .carousel-inner img.d-block{
    width: 520px !important;
  }

}

@media screen and (min-width: 1400px) {
  .content_Acceuille_generale{
    margin-top: 90px;
  }

  .croche1,
  .croche2{
    width: 60px;
    height: 60px;
  }

  .text_aceuille p{
    font-size: 22px;
  }

  .carousel-inner img.d-block{
    width: 580px !important;
  }
}
